#ext_menu-0 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-0 .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-0 .mbr-brand__name a {
  font-size: 20px;
}
#header1-o H1 {
  text-align: center;
  color: #ffffff;
}
#ext_menu-2 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-2.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-2 .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-2 .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-2 .mbr-brand__name a {
  font-size: 20px;
}
#msg-box1-w .mbr-header .mbr-header__text {
  color: #fff;
}
#msg-box1-w .mbr-article {
  color: #fff;
}
#ext_menu-6 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-6.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-6 .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-6 .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-6 .mbr-brand__name a {
  font-size: 20px;
}
#msg-box4-u .mbr-header__text {
  color: #ffffff;
}
#msg-box4-u .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-u .mbr-article {
  color: #ffffff;
}
#social-buttons2-10 .mbr-header__text {
  color: #ffffff;
}
#ext_menu-7 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-7.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-7 .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-7 .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-7 .mbr-brand__name a {
  font-size: 20px;
}
#slider-c H1 {
  color: #efefef;
}
#msg-box1-h .mbr-header .mbr-header__text {
  color: #fff;
}
#msg-box1-h .mbr-article {
  color: #fff;
}
#msg-box1-q .mbr-header .mbr-header__text {
  color: #fff;
}
#msg-box1-q .mbr-article {
  color: #fff;
}
#msg-box1-t .mbr-header .mbr-header__text {
  color: #fff;
}
#msg-box1-t .mbr-article {
  color: #fff;
}
